 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
 <div class="wrapper"> 
     <form class="form-signin" action="#" th:action="@{/login}" th:object="${user}"  method="post" >     
      <h3 class="form-signin-heading">Login</h3>
      Please enter mobile number : <br><br>
      <input type="text" class="form-control" th:field="*{mobileNumber}" placeholder="Mobile Number" required/>
     	<br>
     	
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>
  
 </body>

</html>